# Author: Kieran Knowles
# Generated with assistance from GitHub Copilot

RewriteEngine On

# Allow access to the whitelisted subdirectories, case-insensitive
RewriteRule api/ - [NC,L]
RewriteRule api - [NC,L]
RewriteRule app/ - [NC,L]
RewriteRule app - [NC,L]

RewriteRule redoc-static.html - [NC,L]

# NOTE: Paths without trailing slashes redirect to the servers hostname. Trying to
# prevent this causes a 403 error, not sure how to fix this.

# Return 404 for all other requests
RewriteRule ^ - [R=404,L]
